<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NG Ipsum</title>

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="ng-ipsum.js"></script>
    <script src="app.js"></script>
</head>

<body ng-app="angularIpsum">
    <div ng-controller="testCtrl">
        <input type="range" ng-model="size" min="0" max="100000" step="1"/>
        <input type="number" ng-model="size" min="0" max="100000" step="1"/>
        <hr>
        <ng-ipsum length="size"></ng-ipsum>
    </div>
</body>

</html>